body, html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
header {
    padding-left: 160px;
    background-image: url(img/car.jpg);
    z-index: -10;
    background-size: 100%;
    background-repeat: no-repeat;
}
.description__logo{
    background-image: url(img/logo.png);
    background-repeat: no-repeat ;
    color: blue;
    width: 303px;
    height: 92px;
    margin-left: 5px;
    margin-top: 20px;
    position: absolute;
}
.description__title{
    margin: 0;
    width: 520px;
    font-family: "Proxima Nova", serif;
    font-size: 71px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 170px;
}
.description__line{
    width: 84px;
    height: 10px;
    position: absolute;
    margin-top: 50px;
    background-color: #2569d9;
}
.description__paragraph{
    width: 500px;
    height: 350px;
    color: #fff;
    line-height: 1.45;
    font-weight: lighter;
    padding-top: 100px;
    font-family: "Proxima Nova", serif;
}












